/** {   selects all elements 
    color: white;
    background-color: green;
}*/
body {
    background-color: #66B032;
}
button {
    font-size: 20px;
    background-color: #EBF7E3;
    color: #1B3409;
}
#signupBut {
    background-color: #1B3409;
    color: #EBF7E3;
}
input {
    font-size: 20px;
}
input.placeholder { 
    color: white;
}
h1,h2 {
    color : #1B3409
}